<mat-form-field class="w-full" [appearance]="appearance()" subscriptSizing="dynamic">
  @if (label()) {
    <mat-label>{{ label() }}</mat-label>
  }
  <mat-select
    [value]="value()"
    [disabled]="disabled()"
    [placeholder]="placeholder()"
    [errorStateMatcher]="errorMatcher()"
    (selectionChange)="onSelectionChange($event.value)"
    (blur)="onTouched()"
  >
    @for (option of options(); track option.value) {
      <mat-option [value]="option.value">{{ option.label }}</mat-option>
    }
  </mat-select>
  @if (errorMessage()) {
    <mat-error>{{ errorMessage() }}</mat-error>
  }
</mat-form-field>
