<mat-form-field class="w-full" [appearance]="appearance()" subscriptSizing="dynamic">
  @if (label()) {
    <mat-label>{{ label() }}</mat-label>
  }
  @if (prefixIcon()) {
    <mat-icon matPrefix>{{ prefixIcon() }}</mat-icon>
  }
  <input
    matInput
    [type]="type()"
    [placeholder]="placeholder()"
    [value]="value()"
    [disabled]="disabled()"
    [errorStateMatcher]="errorMatcher()"
    (input)="onInput($event)"
    (blur)="onTouched()"
  />
  @if (suffixIcon()) {
    <mat-icon matSuffix class="suffix-icon-clickable" (click)="onSuffixIconClick()">{{ suffixIcon() }}</mat-icon>
  }
  @if (hint()) {
    <mat-hint>{{ hint() }}</mat-hint>
  }
  @if (errorMessage()) {
    <mat-error>{{ errorMessage() }}</mat-error>
  }
</mat-form-field>
